{% extends 'app_tankering/base/base.html' %}

{% block title %}
Расчет танкирования
{% endblock title %}

{% block content %}
<div class="container row">
    <div class="flex_container">
        <form action="/" method="POST" id="submit_form">
            {% for field in form %}
            <label>{{field.label}}</label>
            {{field}}
            {{field.errors}}

            {% endfor %}
            <!-- {{form.as_p}} -->
            {% csrf_token %}
            <button class="btn btn-lg btn-primary" type="submit" id='submit_btn'>SUBMIT</button>
        </form>

        <div class='result_container'>
            {% if calculation %}
            {% if calculation.min_tank < 0 %}
            <h5 class="no_tank_style">Мин танкирование: {{calculation.min_tank}}</h5>
            <i class="material-icons" style="color: #dc3545;">clear</i>
            {% else %}
            <h5 class="tank_style">Мин танкирование: {{calculation.min_tank}}</h5>
            <i class="material-icons" style="color: #5cb85c;">check</i>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>



{% endblock content %}