* {
  box-sizing: border-box;
}

p {
  margin-bottom: 0.1rem;
}

.tankering-container {
  margin-top: 1rem;
}

.container {
  min-width: 360px;
  width: 40vw;
  max-width: 640px;
  margin: 1rem auto;
  /*   border: solid .1px black; */
  padding: 1rem 1rem;
  display: flex;
  box-shadow: 0 0 3px rgba(0, 0, 0, 1);
  border-radius: 5px;
}

input.form-control {
  width: 25vh;
  max-width: 110px;
  min-width: 90px;
  margin-bottom: 0.5rem;
}
select.form-control {
  width: 25vh;
  max-width: 110px;
  min-width: 90px;
  margin-bottom: 1rem;
}

.left-panel {
  min-width: 30%;
}
.right-panel {
  min-width: 30%;
  margin-left: 1rem;
  /*   border: solid 1px black; */
}

.center-panel {
  margin-left: 1rem;
  margin-right: 1rem;
}

.result {
  margin: 0 auto;
  margin-top: 1rem;
  background: #5cb85c;
  width: 5rem;
}

ul.errorlist {
  list-style: none;
  background-color: #dc3545;
  border-radius: 3px;
  width: 15rem;
}

.flex_container {
  display: flex;
  justify-content: space-between;
}

.result_container {
  position: relative;
  margin: 0 auto;
  max-width: 70%;
  margin-left: 1rem;
}

.no_tank_style {
  background-color: #dc3545;
  font-weight: bold;
  border-radius: 3px;
  text-align: center;
}
.tank_style {
  background-color: #5cb85c;
  font-weight: bold;
  border-radius: 3px;
  text-align: center;
}

i.material-icons {
  font-size: 10rem;
}

@media only screen and (max-width: 999px) {
  i.material-icons {
    font-size: 13rem;
  }
}
@media only screen and (min-width: 1000px) {
  i.material-icons {
    font-size: 17rem;
  }
}

label {
  margin: 0;
  font-weight: bold;
}
